@page "{teamId:int}"
@model TrackerWebApp.Pages.Tournaments.Teams.DetailsModel
@{
}


<h1>Team Name: <strong>@Model.Team.TeamName</strong></h1>

<table class="table table-dark table-striped table-hover">
	<thead>
		<tr>
			<th scope="col">Id</th>
			<th scope="col">First Name</th>
			<th scope="col">Last Name</th>
			<th scope="col">Email</th>
			<th scope="col">Cellphone number</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var tm in Model.Team.TeamMembers)
		{
		<tr>
			<th scope="row">@tm.Id</th>
			<td>@tm.FirstName</td>
			<td>@tm.LastName</td>
			<td>@tm.EmailAddress</td>
			<td>@tm.CellphoneNumber</td>
		</tr>
		}
	</tbody>
</table>
